# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
*.Rproj
/public/
/blogdown/
# blogdown / Hugo
/resources/
/.hugo_build.lock
/static/rmarkdown-libs/

# 其他
.DS_Store
Thumbs.db
*.log
.remark
/0.160.1//public/
